{% extends "./layout.html" %}

{% block css %}
<style>
  body {
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23c3c3c3' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  .card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div style="padding-top:7%;"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-12">
      <center><h3>Kantor Pengerjaan Umum Pekanbaru</h3></center>
      <div class="card">
        <form action="/login" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <br>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <br>
            <button type="submit" class="btn btn-dark btn-block">Login</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}